---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Title from '../components/test.astro'

let mynum =20;
const animal =["ant","cat"]
const object ={
	name: "chris",
	age: 12
}
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	<Title/>
	<div>The number is {mynum}</div>
	<div>This size is {animal}</div>
	<p>{object.name}</p>
	<p>{object.age + 2}</p>

</Layout>
