
<div class="text-center text-[#004E74]">
    <h1 class="text-5xl font-extrabold mb-3 leading-tight">Blockchain Flashcard</h1>
    <h3 class="text-xl font-medium text-[#B6337Fff] max-w-lg mx-auto">All everything about Blockchain and Crypto</h3>
</div>